:root {
    --main_color: rgb(35, 35, 35);
    --secondary_color: rgb(66, 66, 66);
    --text_color: rgb(255, 255, 255);
    --navigation_color: rgb(66, 66, 66);
}

body {
    background-color: var(--main_color);
    color: var(--text_color);
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: sans-serif;
}

header {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;
}

h1 {
    font-size: 90px;
    margin: 0;
}

h2 {
    font-size: 62px;
    margin: 60px 0 60px;
}

h3 {
    font-size: 40px;
    margin: 10px 0;
}

h4 {
    font-size: 30px;
    margin: 10px 0;
}

p {
    font-size: 20px;
    margin: 0 250px;
}

a.project-btn {
    background-color: var(--secondary_color);
    color: var(--text_color);
    border: 1px outset buttonborder;
    border-radius: 8px;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

a.project-btn:hover {
    color: var(--secondary_color);
    background-color: var(--text_color);
    animation: bubble 0.5s ease-out forwards;
}

li.contact {
    font-size: 20px;
    margin: 0 250px;
}

a.navigation {
    color: var(--navigation_color);
}

#theme-select {
    background-color: var(--main_color);
    color: var(--navigation_color);
}

#theme-select-label {
    color: var(--navigation_color);
}

#contacts {
    margin-bottom: 100px;
}

@keyframes bubble {
    0% { transform: scale(1); }
    33% { transform: scale(1.15); }
    66% { transform: scale(1.3); }
    100% { transform: scale(1.2); }
}

nav {
    margin: 20px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

body * {
    opacity: 0;
    transform: translateY(25px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

body .active {
    opacity: 1;
    transform: translateY(0);
}

/* UI Responsiveness */
@media (max-width: 1200px) {
    p {
        margin: 0 100px;
    }
}
@media (max-width: 768px) {
    p {
        margin: 0 50px;
    }

    h1 {
        font-size: 70px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 30px;
    }
}
@media (max-width: 480px) {
    p {
        margin: 0 20px;
    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 25px;
    }

    a.project-btn {
        padding: 8px 16px;
    }
}

/* Certificates */
.certificate-title {
    background-color: var(--secondary_color);
    color: var(--text_color);
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 18px;
    transition: background-color 0.3s ease;
    margin-bottom: 5px;
}
.certificate-title:hover {
    background-color: var(--text_color);
    color: var(--secondary_color);
}
.certificate-description {
    padding: 0 15px;
    display: none;
    background-color: var(--main_color);
    overflow: hidden;
    transition: max-height 0.3s ease;
}
.certificate-description.expanded {
    display: block;
}

/* Theme switching */
.theme-switcher {
    display: inline-block;
    margin-left: 20px;
}
.dark-theme {
    --main_color: rgb(35, 35, 35);
    --secondary_color: rgb(66, 66, 66);
    --text_color: rgb(255, 255, 255);
    --navigation_color: rgb(66, 66, 66);
}
.light-theme {
    --main_color: rgb(255, 255, 255);
    --secondary_color: rgb(218, 218, 218);
    --text_color: rgb(0, 0, 0);
    --navigation_color: rgb(66, 66, 66);
}
.pink-theme {
    --main_color: rgb(255, 255, 255);
    --secondary_color: rgb(255, 255, 255);
    --text_color: rgb(255, 106, 196);
    --navigation_color: rgb(179, 25, 116);
}
.blue-theme {
    --main_color: rgb(0, 134, 155);
    --secondary_color: rgb(0, 146, 168);
    --text_color: rgb(154, 236, 255);
    --navigation_color: rgb(0, 75, 105);
}
.purple-theme {
    --main_color: rgb(185 157 251);
    --secondary_color: rgb(168 131 242);
    --text_color: rgb(65 54 151);
    --navigation_color: rgb(102 70 152);
}
.green-theme {
    --main_color: rgb(100 140 33 / 87%);
    --secondary_color: rgb(34 114 16 / 31%);
    --text_color: rgb(20 75 22);
    --navigation_color: rgb(57 99 12 / 79%);
}