:root {
    --main_color: rgb(255 255 255);
    --secondary_color: rgb(255 255 255);
    --text_color: rgb(255 255 255);
    --navigation_color: rgb(255 255 255);
}


body {
    background-color: var(--main_color);
    color: var(--text_color);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: sans-serif;
    text-align: center;
    text-rendering: optimizeLegibility;
}

header {
    margin: 70px 0 50px;
    text-align: center;
}

footer {
    margin-top: 40px;
}

h1 {
    font-size: clamp(40px, 5vw, 94px);
    margin: 0;
    margin-top: 35px;
}

h2 {
    font-size: clamp(28px, 4vw, 52px);
    margin-top: 160px;
}

h3 {
    font-size: clamp(24px, 2.8vw, 36px);
}

p {
    font-size: 22px;
    margin: 0 10%;
}

a {
    font-size: 22px;
    color: var(--text_color);
    text-decoration-line: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Properties by ID */
#theme-select{
    margin-top: 25px;
}
#lang-select{
    margin-bottom: 40px;
}

/* Navigation switches */
#theme-select, #lang-select{
    background-color: var(--main_color);
    color: var(--navigation_color);
}
#theme-select-label, #lang-select-label {
    color: var(--navigation_color);
}

/* Scrolling animation */
body * {
    opacity: 0;
    transform: translateY(25px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
body .active {
    opacity: 1;
    transform: translateY(0);
}

/* Theme switching */
.theme-switcher {
    display: inline-block;
    margin-left: 20px;
}
.dark-theme {
    --main_color: rgb(35, 35, 35);
    --secondary_color: rgb(59, 59, 59);
    --text_color: rgb(255, 255, 255);
    --navigation_color: rgb(149, 149, 149);
}
.light-theme {
    --main_color: rgb(255, 255, 255);
    --secondary_color: rgb(218, 218, 218);
    --text_color: rgb(0, 0, 0);
    --navigation_color: rgb(66, 66, 66);
}
.pink-theme {
    --main_color: rgb(255, 255, 255);
    --secondary_color: rgb(255, 255, 255);
    --text_color: rgb(255, 106, 196);
    --navigation_color: rgb(179, 25, 116);
}
.blue-theme {
    --main_color: rgb(0, 134, 155);
    --secondary_color: rgb(0, 146, 168);
    --text_color: rgb(154, 236, 255);
    --navigation_color: rgb(0, 75, 105);
}
.purple-theme {
    --main_color: rgb(185 157 251);
    --secondary_color: rgb(168 131 242);
    --text_color: rgb(65 54 151);
    --navigation_color: rgb(102 70 152);
}
.green-theme {
    --main_color: rgb(100 140 33 / 87%);
    --secondary_color: rgb(34 114 16 / 31%);
    --text_color: rgb(20 75 22);
    --navigation_color: rgb(57 99 12 / 79%);
}